In [0]:
%sql
USE CATALOG hive_metastore

In [0]:
%sql
CREATE TABLE employes (
  id int,
  name string,
  slary double)

In [0]:
%sql
INSERT INTO employes VALUES 
(1, "Derek", 2500),
(2, "Desu", 5000),
(3,"jose luis", 7000);

INSERT INTO employes VALUES 
(4, "Jotaro", 2500),
(5, "Joseph", 5000),
(6,"Jolyne", 7000);

INSERT INTO employes VALUES 
(7, "Ana garcia", 2500),
(8, "Luis Martinez", 5000);

In [0]:
%sql
SELECT * FROM employes;

In [0]:
%sql
DESCRIBE DETAIL employes;

In [0]:
%fs ls 'dbfs:/user/hive/warehouse/employes'

In [0]:
%sql
UPDATE employes 
SET slary = slary + 1000
WHERE name like 'L%'